
@{
    Layout = "~/Views/LayoutPage.cshtml";
}

<a id="bgndVideo" class="player"
   data-property="{videoURL:'https://www.youtube.com/watch?v=EaQWSfj4wzk',showYTLogo:false, showAnnotations: false, showControls: false, cc_load_policy: false, containment:'#home-section',autoPlay:true, mute:true}">
</a>

<div class="intro-section" id="home-section" style="min-height: 500px;">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                <h1 class="mb-3">Robotik Kodlama Eğitim Seti</h1>
                <p class="lead mx-auto desc mb-5">İlk dersten itibaren algortima geliştiriyoruz.</p>
                <p class="text-center">
                    <a href="#" data-toggle="modal" data-target="#login" class="btn btn-outline-white py-3 px-5">GİRİŞ YAP</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="site-section" id="services-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8 section-heading">
                <span class="subheading">red-kit Nedir?</span>
                <h2 class="heading mb-3">İçerisinde neler var?</h2>
                <p>
                    Robotik kodlama öğrenmek isteyen fakat elektronik işlerle kafası karışan öğrencilerimiz için
                    algortima geliştirmeyi temeline almış bir eğitim materyalidir.
                </p>
            </div>
        </div>

        <!-- Slider -->
        <div class="owl-carousel nonloop-block-14 block-14" data-aos="fade">
            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-microcontroller"></span>
                    <div class="ftco-feature-1-text">
                        <h2>red-kit Anakart</h2>
                        <p>
                            Üzerinde Arduino, butonlar, led ışıklar, rgb, switch, mini breadboard bulunan red-kit
                            ana kartı.
                        </p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-money"></span>
                    <div class="ftco-feature-1-text">
                        <h2>Deney Kartları</h2>
                        <p>Deneyleri kolayca yapmanız için size yol gösterecek olan deney kartları.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-knot"></span>
                    <div class="ftco-feature-1-text">
                        <h2>Bağlantı Kabloları</h2>
                        <p>Bağlantıları yapmanız için gerekli tüm kablolar.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-sensor"></span>
                    <div class="ftco-feature-1-text">
                        <h2>Sensörler</h2>
                        <p>Hayal gücünüzü zorlayın, sensörler size bilgi toplamaya hazır.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-nfc"></span>
                    <div class="ftco-feature-1-text">
                        <h2>RFID Kart Okuma Sistemi</h2>
                        <p>Kartlı geçiş sistemleri simülasyonu için rfid kart okuma seti.</p>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="ftco-feature-1">
                    <span class="icon flaticon-motor"></span>
                    <div class="ftco-feature-1-text">
                        <h2>Motorlar</h2>
                        <p>Servo Motor ve DC Motor güç vermeniz için sizi bekliyor.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="bgimg" style="background-image: url('../assets/images/baa.JPG');" data-stellar-background-ratio="0.5"
     id="blog-section">

    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8">
                <h2>red-kit ile deneyler geliştiriyor musunuz?</h2>
                <p class="lead mx-auto desc mb-5">
                    Sizin gibi binlerce red-kit deney geliştiricisi ile buluşma
                    noktanız: red-kit blog.
                </p>
                <p class="text-center">
                    <a href="#" class="btn btn-outline-white py-3 px-5">Blog'a Git</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="site-section" id="classes-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8  section-heading">
                <span class="subheading">Dersler</span>
                <h2 class="heading mb-3">Zengin İçerikli Derslerimiz</h2>
                <p>
                    Uzman eğtimci kadromuz tarafından özenle hazırlanmış robotik kodlama eğitim ders içerikleri.
                </p>
                <div class="nav" style="margin-left:35%;">
                    <a class="btn btn-primary" href="#home" data-toggle="tab" aria-expanded="true" style="margin-left:10px; background-color:orange;">Arduino C</a>
                    <a class="btn btn-primary" href="#profile" data-toggle="tab" aria-expanded="false" style="margin-left:10px; background-color:dodgerblue;">mBlock</a>
                </div>

            </div>
        </div>
        <div>
            <div class="bs-component">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="class-item d-flex align-items-center">
                                    <a href="/Lesson/Led" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/a.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="/Lesson/Led">red-kit ile Arduino #1 - LED</a></h2>


                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="/Lesson/Buton" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/b.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="/Lesson/Buton">red-kit ile Arduino #2 - BUTON</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" class="class-item-thumbnail" data-toggle="modal" data-target="#exampleModal">
                                        <img height="70" src="~/assets/images/component/j.png" alt="Image"
                                             style="padding-left: 10px;">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #3 - SWİTCH</a></h2>
                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/g.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="single.html" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile
                                                Arduino #4 - POTANSİYOMETRE
                                            </a>
                                        </h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/ss.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #5 - MOD</a></h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #6 - PROJE 1</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/ı.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #7 - RGB</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/m.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #8 - FONKSİYON</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/cc.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #9 - BUZZER
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/f.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #10 - ULTRASONİK
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #11 - PROJE 2
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/e.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #12 - FOR
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/h.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #13 - LCD5110 (1)
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/h.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #14 - LCD5110 (2)
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="class-item d-flex align-items-center">
                                    <a href="lessonOne.html" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #15 - PROJE 3</a></h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="lessonTwo.html" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/n.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #16 - DHT11</a></h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" class="class-item-thumbnail" data-toggle="modal" data-target="#exampleModal">
                                        <img height="70 px" src="~/assets/images/component/i.png" alt="Image"
                                             style="padding-left: 10px;">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #17 - LDR
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile
                                                Arduino #18 - PROJE 4
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/o.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #19 - SERVO
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/p.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #20 - PIR
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/r.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #21 - RFID + DİZİLER (1)
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/r.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #22 - RFID + DİZİLER (2)
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #23 - PROJE 5
                                            </a>
                                        </h2>
                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/zz.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #24 - IR REMOTE
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #25 - PROJE 6
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #26 - PROJE 7
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #27 - PROJE 8
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #28 - PROJE 9
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="class-item d-flex align-items-center">
                                    <a href="/Lesson/Led" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/a.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="/Lesson/Led">red-kit ile Arduino #1 - LED</a></h2>


                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="/Lesson/Buton" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/b.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="/Lesson/Buton">red-kit ile Arduino #2 - BUTON</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" class="class-item-thumbnail" data-toggle="modal" data-target="#exampleModal">
                                        <img height="70" src="~/assets/images/component/j.png" alt="Image"
                                             style="padding-left: 10px;">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #3 - SWİTCH</a></h2>
                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/g.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="single.html" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile
                                                Arduino #4 - POTANSİYOMETRE
                                            </a>
                                        </h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/ss.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #5 - MOD</a></h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #6 - PROJE 1</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/ı.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #7 - RGB</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/m.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #8 - FONKSİYON</a></h2>


                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/cc.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #9 - BUZZER
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/f.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #10 - ULTRASONİK
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #11 - PROJE 2
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/e.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #12 - FOR
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/h.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #13 - LCD5110 (1)
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/h.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #14 - LCD5110 (2)
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="class-item d-flex align-items-center">
                                    <a href="lessonOne.html" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #15 - PROJE 3</a></h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="lessonTwo.html" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/n.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2><a href="" data-toggle="modal" data-target="#exampleModal">red-kit ile Arduino #16 - DHT11</a></h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" class="class-item-thumbnail" data-toggle="modal" data-target="#exampleModal">
                                        <img height="70 px" src="~/assets/images/component/i.png" alt="Image"
                                             style="padding-left: 10px;">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #17 - LDR
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile
                                                Arduino #18 - PROJE 4
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/o.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #19 - SERVO
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/p.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #20 - PIR
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/r.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #21 - RFID + DİZİLER (1)
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/r.PNG" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #22 - RFID + DİZİLER (2)
                                            </a>
                                        </h2>

                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #23 - PROJE 5
                                            </a>
                                        </h2>
                                    </div>
                                </div>

                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/zz.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #24 - IR REMOTE
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #25 - PROJE 6
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #26 - PROJE 7
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #27 - PROJE 8
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                                <div class="class-item d-flex align-items-center">
                                    <a href="" data-toggle="modal" data-target="#exampleModal" class="class-item-thumbnail">
                                        <img src="~/assets/images/component/k.png" alt="Image">
                                    </a>
                                    <div class="class-item-text">
                                        <h2>
                                            <a href="" data-toggle="modal" data-target="#exampleModal">
                                                red-kit ile Arduino
                                                #28 - PROJE 9
                                            </a>
                                        </h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
            </div>
        </div>
    </div>
</div>

<div class="bgimg" style="background-image: url('../assets/images/section.jpg');" id="card-section">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2 class="">Deney Kartları</h2>
                <p class="lead mx-auto desc mb-5">
                    Kutu içerisinde bulunan tüm komponentlerin çalışma prensibi,
                    günlük hayatta kullanılan yerler, nasıl bağlantısı yapılmalı ve nasıl programlanmalı
                    bilgilerinin bulunduğu eğitim kartlarımızla öğrencinin kendini geliştrimesine olanak
                    sağlıyoruz.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-8  section-heading" style="padding-top: 35px;">
            <span class="subheading">Memnuniyet</span>
            <h2 class="heading mb-3">Kullanıcı Memnuniyeti</h2>
            <p>
                Öğrencilerimizin keyifle Arduino projeleri geliştirmeleri için biz buradayız. Her türlü teknik
                destek ve yardım talebine aynı gün içerisinde yanıt veriyoruz.
            </p>
        </div>
    </div>
</div>

<div class="bgimg " style="background-image: url( '../assets/images/section_wood.jpg');" id="wood-section">
    <div class="container ">
        <div class="row align-items-center justify-content-center text-center ">
            <div class="col-md-6 "></div>
            <div class="col-md-6 ">
                <h2 class=" ">wood-kit</h2>
                <p class="lead mx-auto desc mb-5 ">
                    red-kit eğitimini tamamlayan öğrencilerimize demonte halde
                    verdiğimiz wood-kit'i derste montajlıyoruz, devre elemanlarını yerleştiriyoruz ve
                    programlayarak kullanıma hazır birer ürün ortaya çıkartıyoruz.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="contact-section" class="site-section bg-light ">
    <div class="container ">

    </div>
</div>

<div class="modal fade" id="SignUp" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Üye Ol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <form id="insertRow" action="/SignUp/Index" method="post">
                    <input type="hidden" id="clsID" name="classroomID" />
                    <div class="form-group">
                        @*<label>Kullanıcı Adı</label>*@
                        <input class="form-control" id="subject" name="username" placeholder="Kullanıcı Adı" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="subject" name="password" type="Password" placeholder="Şifre" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="subject" name="passwordagain" type="Password" placeholder="Şifre Tekrar" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="subject" name="activationCode" placeholder="Aktivasyon Kodu" required />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Üye Ol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Giriş Yap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <form id="insertRow" action="/SignUp/Index" method="post">
                    <input type="hidden" id="clsID" name="classroomID" />
                    <div class="form-group">
                        @*<label>Kullanıcı Adı</label>*@
                        <input class="form-control" id="subject" name="username" placeholder="Kullanıcı Adı" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="subject" name="password" type="Password" placeholder="Şifre" required />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.PopupMessage != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.PopupMessage');

});

    </script>
}
