
@{
    ViewBag.Title = "Lesson6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>




<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Assets/images/lesson1.jpg" alt="First slide" style="width:auto; height:auto;">
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h2 class="mb-3">Red-kit ile Arduino'ya Giriş - 6</h2>
                <ul class="list-group">
                    <li class="list-group-item" style="background-color: #007bff; color:white;">İçindekiler</li>
                    <li class="list-group-item">LCD 5110 Ekran</li>
                    <li class="list-group-item">Kütüpahne Ekleme</li>
                    <a href="experiment01.html" class="list-group-item list-group-item-action">Deney 1: Örnek Uygulama (BitMap)</a>
                    <a href="experiment01.html" class="list-group-item list-group-item-action">Deney 2: Ekranda Mesaj Yazma</a>
                    <a href="experiment01.html" class="list-group-item list-group-item-action">Deney 3: Buton Okuma</a>
                    <a href="experiment01.html" class="list-group-item list-group-item-action">Deney 4: Buton ile Ekrandaki Karakteri Yürütme</a>
                </ul>
                <br>
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQNPdEI4o0oj6v_kLZfWeDVzPClZrPbqoA1lm2ie4Rzqcg0NvuR_JXY6Li5_McgkA/embed?start=false&loop=false&delayms=60000" frameborder="0" width="729" height="474" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                <div class="pt-5 mt-5">
                    <div class="comment-form-wrap pt-5">
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Aramak istediğiniz kelimeyi girin.">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <ul class="list-group">
                        <li class="list-group-item active">Kategori</li>
                        <li class="list-group-item"><a href="#">Red-Kit <span>(6)</span></a></li>
                        <li class="list-group-item"><a href="#">Arduino <span>(8)</span></a></li>
                        <li class="list-group-item"><a href="#">Makey Makey <span>(2)</span></a></li>
                        <li class="list-group-item"><a href="#">mBot <span>(2)</span></a></li>
                    </ul>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Popüler Deneyler</h3>
                    <div class="block-21 mb-4 d-flex">
                        <img width="50" height="50" src="~/Assets/images/red-kit.png"></img>
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">RFID ile personel giriş çıkış kontrolü.</a>
                            </h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Haziran. 27, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Gürkan Sözdemir</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <img src="~/Assets/images/red-kit.png" width="50" height="50" />
                        <div class="text">
                            <h3 class="heading">
                                <a href="#">Servo motor ile otomatik garaj kapısı.</a>
                            </h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Temmuz. 8, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Gürkan Sözdemir </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tagcloud02">
                    <h4>Bunlara da Bakabilirsiniz</h4>
                    <ul>
                        <li><a href="#">red-kit ile servo motor</a></li>
                        <li><a href="#">red-kit ile rfid</a></li>
                        <li><a href="#">red-kit ile rgb</a></li>
                        <li><a href="#">red-kit ile IR kumanda</a></li>
                        <li><a href="#">red-Kit ile pot</a></li>
                        <li><a href="#">red-kit ile LCD5110</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>