<div class="site-section" id="classes-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8  section-heading">
                <span class="subheading">Dersler</span>
                <h2 class="heading mb-3">Diğer Dersler</h2>
                <p>
                    Uzman eğtimci kadromuz tarafından özenle hazırlanmış robotik kodlama eğitim ders içerikleri.
                </p>
            </div>
        </div>
        <div class="tab-pane fade active in" id="redkitc">
            <div class="row">
                <div class="col-lg-6">
                    <div class="class-item d-flex align-items-center">
                        <a class="class-item-thumbnail">
                            <img src="~/assets/images/component/a.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/Led" >red-kit ile Arduino #1 - LED</a></h2>
                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Buton" class="class-item-thumbnail">
                            <img src="~/assets/images/component/b.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a href="/RedkitC/Buton">red-kit ile Arduino #2 - BUTON</a></h2>


                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Switch" class="class-item-thumbnail">
                            <img height="70" src="~/assets/images/component/j.png" alt="Image"
                                 style="padding-left: 10px;">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/Switch">red-kit ile Arduino #3 - SWİTCH</a></h2>
                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Potansiyometre" class="class-item-thumbnail">
                            <img src="~/assets/images/component/g.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a href="/RedkitC/Potansiyometre">
                                    red-kit ile
                                    Arduino #4 - POTANSİYOMETRE
                                </a>
                            </h2>
                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Mod" class="class-item-thumbnail">
                            <img src="~/assets/images/component/ss.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/Mod">red-kit ile Arduino #5 - MOD</a></h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje1" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/Proje1">red-kit ile Arduino #6 - PROJE 1</a></h2>


                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/RGB" class="class-item-thumbnail">
                            <img src="~/assets/images/component/ı.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/RGB">red-kit ile Arduino #7 - RGB</a></h2>


                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Function" class="class-item-thumbnail">
                            <img src="~/assets/images/component/m.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/Function">red-kit ile Arduino #8 - FONKSİYON</a></h2>


                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Buzzer" class="class-item-thumbnail">
                            <img src="~/assets/images/component/cc.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Buzzer">
                                    red-kit ile Arduino
                                    #9 - BUZZER
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/MesafeSensoru" class="class-item-thumbnail">
                            <img src="~/assets/images/component/f.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/MesafeSensoru">
                                    red-kit ile Arduino
                                    #10 - ULTRASONİK
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje2" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Proje2" data-toggle="modal" data-target="#exampleModal">
                                    red-kit ile Arduino
                                    #11 - PROJE 2
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/For" class="class-item-thumbnail">
                            <img src="~/assets/images/component/e.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/For" data-toggle="modal" data-target="#exampleModal">
                                    red-kit ile Arduino
                                    #12 - FOR
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/LCD1" class="class-item-thumbnail">
                            <img src="~/assets/images/component/h.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/LCD1" data-toggle="modal" data-target="#exampleModal">
                                    red-kit ile Arduino
                                    #13 - LCD5110 (1)
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/LCD2" class="class-item-thumbnail">
                            <img src="~/assets/images/component/h.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/LCD1">
                                    red-kit ile Arduino
                                    #14 - LCD5110 (2)
                                </a>
                            </h2>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje3" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/Proje3">red-kit ile Arduino #15 - PROJE 3</a></h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/DHT11" class="class-item-thumbnail">
                            <img src="~/assets/images/component/n.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2><a class="lesson" data-url="/RedkitC/DHT11">red-kit ile Arduino #16 - DHT11</a></h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/LDR" class="class-item-thumbnail">
                            <img height="70px" src="~/assets/images/component/i.png" alt="Image"
                                 style="padding-left: 10px;">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/LDR">
                                    red-kit ile Arduino
                                    #17 - LDR
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje4" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Proje4">
                                    red-kit ile
                                    Arduino #18 - PROJE 4
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/ServoMotor" class="class-item-thumbnail">
                            <img src="~/assets/images/component/o.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/ServoMotor">
                                    red-kit ile Arduino
                                    #19 - SERVO
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/PIR" class="class-item-thumbnail">
                            <img src="~/assets/images/component/p.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/PIR">
                                    red-kit ile Arduino
                                    #20 - PIR
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/RFID" class="class-item-thumbnail">
                            <img src="~/assets/images/component/r.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/RFID">
                                    red-kit ile Arduino
                                    #21 - RFID + DİZİLER (1)
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/RFID2" class="class-item-thumbnail">
                            <img src="~/assets/images/component/r.PNG" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/RFID2">
                                    red-kit ile Arduino
                                    #22 - RFID + DİZİLER (2)
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje5" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Proje5">
                                    red-kit ile Arduino
                                    #23 - PROJE 5
                                </a>
                            </h2>
                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/IR" class="class-item-thumbnail">
                            <img src="~/assets/images/component/zz.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/IR" data-toggle="modal" data-target="#exampleModal">
                                    red-kit ile Arduino
                                    #24 - IR REMOTE
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje6" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Proje6">
                                    red-kit ile Arduino
                                    #25 - PROJE 6
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje7" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Proje7">
                                    red-kit ile Arduino
                                    #26 - PROJE 7
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje8" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Proje8">
                                    red-kit ile Arduino
                                    #27 - PROJE 8
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div class="class-item d-flex align-items-center">
                        <a href="/RedkitC/Proje9" class="class-item-thumbnail">
                            <img src="~/assets/images/component/k.png" alt="Image">
                        </a>
                        <div class="class-item-text">
                            <h2>
                                <a class="lesson" data-url="/RedkitC/Proje9">
                                    red-kit ile Arduino
                                    #28 - PROJE 9
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>