<!DOCTYPE html>
<html lang="en">

<head>
    <title>red-kit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/assets/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/assets/css/aos.css">
    <link href="~/assets/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="icon" type="image/x-icon" href="~/assets/images/red-kit_ico.ico">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo col-md-2">
                        <a href="/Home/Index"><img src="~/assets/images/logo_yazili.png" style="width: 80%;"> </a>
                    </div>
                    <div class="ml-auto col-md-10">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block"
                                style="font-size: smaller;">
                                <li><a href="#home-section" class="nav-link">Anasayfa</a></li>
                                <li><a href="#services-section" class="nav-link">red-kit Nedir?</a></li>
                                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                                <li><a href="#classes-section" class="nav-link">Dersler</a></li>
                                <li><a href="#card-section" class="nav-link">Deney Kartları</a></li>
                                <li><a href="#wood-section" class="nav-link">Ahşap Setler</a></li>
                                <li><a href="#contact-section" class="nav-link">İletişim</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#SignUp" class="nav-link btn btn-primary">Üye Ol</a></li>
                            </ul>
                        </nav>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right">
                            <span class="icon-menu h3"></span>
                        </a>
                    </div>

                </div>
            </div>
        </header>

        @RenderBody()

        <footer class="footer">
            <link rel="stylesheet" href="css/style.css">
            <div class="" style="background-color:#363636;">
                <div class="container">
                    <div class="footer-day-time" style="height:90px;">
                        <div class="row">
                            <div class="col-md-8">
                                <p>
                                    <img src="~/assets/images/abcd.png" style="height:55px;" alt="Image" />&nbsp &nbsp
                                    <img src="~/assets/images/logoşekil.png" style="height:55px;" alt="Image" />
                                </p>

                            </div>
                            <div class="col-lg-4">
                                <p><br /></p>
                                <p><h2 style="color:white;">Robotik Bilim Atölyesi</h2></p>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">

                            <p style="font-size:larger">Hakkımızda</p>
                            <p style="font-size:medium">red-kit Tübitak onaylı bir projedir. Robotik Kodlama derslerinde kullanılmak üzere geliştirilmiş bir eğitim materyalidir. </p>

                        </div>

                        <div class="col-md-4">

                            <ul class="address1">
                                <li><p style="font-size:larger">İletişim</p></li>
                                <li><i class="fa fa-map-marker"></i>Yıldız Teknik Üniversitesi </li>
                                <li><i class="fa fa-envelope"></i><a href="mailto:#">info@robotikbilim.com</a></li>
                                <li><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:0212 483 73 31">0212 483 73 31</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <p style="font-size:larger">Bizi Takip Edin</p>
                            <ul class="social-icon">
                                <p style="font-size:medium">red-kit hakkındaki gelişmeleri yakından takip etmek için abone olun.</p>
                                <li><a href="#"><img src="../assets/images/iconfinder_facebook_circle_gray_107140.png" style="height: 40px;" /></a></li>
                                <li><a href="#"><img src="../assets/images/iconfinder_instagram_circle_gray_107138.png" style="height: 40px;" /></a></li>
                                <li><a href="#"><img src="../assets/images/iconfinder_linkedin_circle_gray_107149.png" style="height: 40px;" /></a></li>
                                <li><a href="#"><img src="../assets/images/iconfinder_youtube_circle_gray_107133.png" style="height: 40px;" /></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-7">
                            <p>
                                Copyright © 2020 Tüm Hakları Sakladır | red-kit.com
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Üye Ol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ViewBag.PopupMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary ">Üye Ol</button>
                </div>
            </div>
        </div>
    </div>

    <!-- .site-wrap -->

    <script src="~/assets/js/jquery-3.3.1.min.js "></script>
    <script src="~/assets/js/jquery-migrate-3.0.1.min.js "></script>
    <script src="~/assets/js/jquery-ui.js "></script>
    <script src="~/assets/js/popper.min.js "></script>
    <script src="~/assets/js/bootstrap.min.js "></script>
    <script src="~/assets/js/owl.carousel.min.js "></script>
    <script src="~/assets/js/jquery.stellar.min.js "></script>
    <script src="~/assets/js/jquery.countdown.min.js "></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js "></script>
    <script src="~/assets/js/jquery.easing.1.3.js "></script>
    <script src="~/assets/js/aos.js "></script>
    <script src="~/assets/js/jquery.fancybox.min.js "></script>
    <script src="~/assets/js/jquery.sticky.js "></script>
    <script src="~/assets/js/jquery.mb.YTPlayer.min.js "></script>
    <script src="~/assets/js/main.js "></script>
    @if (ViewBag.PopupMessage != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#exampleModal").modal('show');
            });
        </script>
    }
</body>

</html>