@{
    ViewBag.Title = "Proje2Radar";
    Layout = "~/Views/LayoutPage.cshtml";
}
<div class="bgimg" style="background-image: url('../assets/images/bg_03.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
                <h2 class="">Proje #2</h2>
                <p class="lead mx-auto desc mb-5">Bu derste arduino ve Red-Kit yardımıyla "Radar" yapacağız.</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="mb-5">
            <h1>Projenin Amacı</h1>
            <p style="color: green">
                Bu projede amaç: Ultrasonik mesafe sensörünün görüş açısı içine bir nesne girdiğinde ve bu nesne ile sensör arasındaki mesafe 30cm olduğunda buzzer sinyal versin.

                Sensörün görüş açısını arttırmak için sensör bir servo motorun üzerine yerleştirilmeli ve sevo motor sürekli olarak 0 ile 180 derecelik açılar arasında gidip gelmeli.
            </p>
            <p>
                <ul class="list-group bmd-list-group-sm">
                    <li class="list-group-item" style="color: red;">Kullanılacak Komponentler</li>
                    <li href="#" class="list-group-item">1 x Ultrasonik Mesafe Sensörü </li>
                    <li href="#" class="list-group-item">6 x Led</li>
                    <li href="#" class="list-group-item">1 x Buzzer</li>
                    <li href="#" class="list-group-item">1 x Servo Motor</li>
                    <li href="#" class="list-group-item">1 x Potansiyometre</li>
                </ul>
            </p>
        </div>

        <h2 class="mb-3">Devre Şeması</h2>
        <p>
            Erkek-erkek Jumper kablolarımızla servo motorumuzu, mesafe sensörümüzü, buzzer'ımızı, potansiyometremizi ve 6 adet ledimizi arduinoya bağlıyoruz.

        </p>
        <div class="row container">
            <div class="col-md-8">
                <img src="../assets/images/schematic_diagrams/proje2.PNG">
            </div>
            <div class="col-md-4" style="padding-top: 5%;">
                <ul class="ul-check list-unstyled success">
                    Ultrasonik mesafe sensörü:
                    <li>Echo: 11 numaralı arduino pini</li>
                    <li>Trig 10 numaralı arduino pini</li>
                    Ledler:
                    <li>Led 1 : 3 numaralı arduino pini</li>
                    <li>Led 2 : 4 numaralı arduino pini</li>
                    <li>Led 3 : 5 numaralı arduino pini</li>
                    <li>Led 4 : 6 numaralı arduino pini</li>
                    <li>Led 5 : 7 numaralı arduino pini</li>
                    <li>Buzzer : 12 numaralı arduino pini</li>
                    Servo Motor:
                    <li>Kahverengi: GND pini</li>
                    <li>Sarı: 9 numaralı arduino pini</li>
                    <li>Kırmızı : 5V</li>
                    <li>Potansiyometre : A0 arduino pini</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <iframe src=https://create.arduino.cc/editor/red-kit/c9e69b75-ba44-48e3-96e2-fe5da96e8743/preview?embed style="height:510px;width:100%;margin:10px 0" frameborder=0></iframe>
            <p style="color:green">Yukarıdaki kod pencerisinin sağ üst köşesindeki aşağı doğru ok simgesine tıklayan deney dosyasını bilgisayarınıza indirebilirsiniz. </p>
            <div>
                <a href="/Home/Index" type="button" class="btn btn-danger">&laquo; Derse Dön</a>
            </div>
        </div>
    </div>
</div>
