@{
    Layout = "~/Views/LayoutPage.cshtml";
}

<div class="bgimg" style="background-image: url('../assets/images/bg_03.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
                <h2 class="">red-kit ile Arduino Programlamaya Giriş #06</h2>
                <p class="lead mx-auto desc mb-5">
                    Bu projede amaç sıra sıra yanıp sönen ledlerde yeşil lede gelmeden butona basıp yakalamaya çalışacağımız bir oyun tasarlamaktır.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="mb-5">
            <h1>Ders #06: Led Yakalama Oyunu</h1>
            <p>
                Bu projede amaç sıra sıra yanıp sönen ledlerde yeşil lede gelmeden butona basıp yakalamaya çalışacağımız bir oyun tasarlamaktır.
                Ledi yakaladığınız taktirde birkaç kez tüm ledler yanıp sönmelidir.
                Ledler her doğru yakalamada daha hızlı yanıp sönmeye başlamalıdır.
                En hızlı halinde oyunu bitirirseniz ledlerin hepsi yanmış vaziyette beklemelidir.
            </p>
        </div>
        <div class="mb-5">
            <h2>Proje Algoritması</h2>
            <ul class="ul-check list-unstyled success">
                <li>Öncelikle ledleri sıra sıra yanması için bir döngü tasarlıyoruz.</li>
                <li>Daha sonra yakalamak istediğimiz ledde butona basılı olup olmadığını kontrol ediyoruz.</li>
                <li>Eğer basılı ise ledlerimizi yakıp söndürüyoruz.</li>
                <li>Daha sonra ise bekleme süremizi bir miktar azaltıyoruz.</li>
            </ul>
        </div>
        <div class="mb-5">
            <h2>Proje Devresi</h2>
            <p>Erkek-erkek uçlu bir jumper kablonun bir ucunu red-kit üzerindeki led pinlerinden yakmak istediğimiz sıradaki lede, diğer ucunu arduino üzerindeki dijital pinlerden kontrol etmek istediğimiz pine takıyoruz.</p>
            <p>Not: Aşağıdaki örnekte 8- 13 numaralı dijital pinler kullanılmıştır. Hangi pinlere taktıysanız kodunuzu buna göre yazmanız gerekecektir.</p>
            <div class="row container">
                <div class="col-md-8">
                    <img src="../assets/images/lessonContent/proje1devre.PNG" style="width: 100%; height: auto;">
                </div>
                <div class="col-md-4" style="padding-top: 5%;">
                    <ul class="ul-check list-unstyled success">
                        <li>
                            Led Bağlantıları
                            <ul class="ul-check list-unstyled success">
                                <li>Led 1 🡺 8</li>
                                <li>Led 2 🡺 9</li>
                                <li>Led 3 🡺 10</li>
                                <li>Led 4 🡺 11</li>
                                <li>Led 5 🡺 12</li>
                                <li>Led 6 🡺 13</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h2>Projenin Programlanması</h2>
            <p>
                Deneyimizin devresini tamamladığımıza göre artık programlamaya geçebiliriz. Yapmak istediğimiz şey sıra sıra yanıp sönen ledlerde yeşil lede gelmeden butona basıp yakalamaya çalışacağımız bir oyun tasarlamaktır.
            </p>
            <p>
                Öncelikle arduino üzerindeki hangi pinin, nasıl çalışacağını(INPUT/OUTPUT) söylememiz gerekir. Biz 7-13 numaralı pinlere led bağladığımız OUTPUT(Çıkış) olarak tanımladık.
           7 numaralı pine buton bağladığımız için INPUT olarak tanımladık.
            </p>
            <p>Ledlerimizi loop döngüsü içerisinde sırayla yakıp söndürdük.</p>
            <p>Koşulumuzu ekledik : Eğer yeşil lamba yanıyorsa (12 numaralı pin) ve buton basılı ise tüm ledler iki defa yanıp sönecek</p>
            <p></p>
            <iframe src=https://create.arduino.cc/editor/red-kit/3b8c3a60-ba73-4a06-aca0-57523fa27849/preview?embed style="height:510px;width:100%;margin:10px 0" frameborder=0></iframe>
            <p style="color:green">Yukarıdaki kod pencerisinin sağ üst köşesindeki aşağı doğru ok simgesine tıklayan proje dosyasını bilgisayarınıza indirebilirsiniz. </p>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("redkitC");
}