@{
    Layout = "~/Views/LayoutPage.cshtml";
}
<div class="bgimg" style="background-image: url('../assets/images/bg_03.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
                <h2 class="">red-kit ile Arduino Programlamaya Giriş #18</h2>
                <p class="lead mx-auto desc mb-5">Bu derste bir "Tasarruflu Ev Lambası Uygulaması" yapacağız.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="mb-5">
            <h1>Ders #18: Tasarruflu Ev Lambası Uygulaması</h1>
            <p>
                Bu projede ortamdaki ışık miktarını kullanıcının potansiyometre yardımıyla belirlemesi ve ortamdaki ışık miktarı arttığında ledlerimizin yanması azaldığında ise sönmesi amaçlanmıştır.Bu ayarlama işleri de sadece switch kapalıyken gerçekleştirilecektir.
            </p>
        </div>
        <div class="mb-5">
            <h2>Tasarruflu Ev Lambası Nedir? Nasıl Çalışır?</h2>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Assets/images/lessonContent/tasarruf.jpg" style="width:100%; height:auto;" />
                </div>
                <div class="col-md-9">
                    <p>
                        Evinizdeki ışıkların belirli koşullara göre otomatik olarak çalışmasıdır.Bu sistemlerin amacı enerji tüketim maliyetini azaltmaktır.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h2>Nerede Kullanılır?</h2>
            <p>Evlerde, iş yerlerinde kullanılabilir.</p>
        </div>
        <div class="mb-5">
            <h2>Proje Algoritması</h2>
            <ul class="ul-check list-unstyled success">
                <li>Öncelikle anahtarın durumunu kontrol etmeliyiz, anahtar açık ise led’i yakmalı kapalı ise diğer kontrolleri gerçekleştirmeliyiz.</li>
                <li>Ortamdaki ışık miktarını okumalıyız.</li>
                <li>Kullanıcının istediği ışık miktarını potansiyometreden okumalıyız.</li>
                <li>Ortamdaki ışık miktarı potansiyometreden okunan miktardan daha az ise led yanmalı, daha fazla ise led sönmelidir.</li>

            </ul>
        </div>
        <div class="mb-5">
            <h2>Proje Devresi</h2>
            <p>Erkek-erkek uçlu üç adet jumper kabloyu bir ucunu red-kit üzerindeki led pinlerinden yakmak istediğimiz ledlerin pinine, diğer ucunu arduino üzerindeki dijital pinlerden kontrol etmek istediğimiz pinlere takıyoruz.</p>
            <p>Erkek-erkek uçlu bir adet jumper kabloyu bir ucunu red-kit üzerindeki switch(anahtar) pinine, diğer ucunu arduino üzerindeki dijital pinlerden kontrol etmek istediğimiz pine takıyoruz.</p>
            <p>Erkek-erkek uçlu bir adet jumper kabloyu bir ucunu red-kit üzerindeki buton pinlerinden kullanmak istediğimiz butonun pinine, diğer ucunu arduino üzerindeki dijital pinlerden kontrol etmek istediğimiz pine takıyoruz.</p>
            <p>LDR yi yani "ışık sensörümüzü" kitimiz üzerinde "Işık" yazan yere takıyoruz. Erkek-erkek uçlu jumper kabloyu ışık pinine, diğer ucunu ise arduino üzerindeki analog pinlerden kontrol etmek istediğimiz pine takıyoruz.</p>
            <p>Erkek-erkek uçlu bir jumper kabloyu bir ucu red-kit üzerindeki pot pinine, diğer ucunu arduino üzerindeki analog pinlerden kontrol etmek istediğimiz pine takıyoruz. </p>

            <p>Not: Aşağıdaki örnekte ledler için 11,10,9 numaralı dijital pinler, LDR için A1, potansiyometre için A0 analog pini, buton için 3, switch(anahtar) için 12 numaralı dijital pin kullanılmıştır. Hangi pine taktıysanız kodunuzu buna göre yazmanız gerekecektir.</p>
            <div class="row container">
                <div class="col-md-8">
                    <img src="../assets/images/schematic_diagrams/18.1.TasarrufluEvLambası.JPG" style="width: 100%; height: auto;">
                </div>
                <div class="col-md-4" style="padding-top: 5%;">
                    <ul class="ul-check list-unstyled success">
                        <li>
                            LCD 5110 Bağlantıları
                            <ul class="ul-check list-unstyled success">
                                <li>RST 🡺 8</li>
                                <li>CE 🡺 7</li>
                                <li>DC 🡺 6</li>
                                <li>DIN 🡺 5</li>
                                <li>CLK 🡺 4</li>
                                <li>BL 🡺 5V</li>
                            </ul>
                        </li>
                        <li>LDR 🡺 A1</li>
                        <li>Led1 🡺 9</li>
                        <li>Led2 🡺 10</li>
                        <li>Led3 🡺 11</li>
                        <li>Switch 🡺 12</li>
                        <li>Buton 🡺 3</li>
                        <li>Potansiyometre 🡺 A0</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h2>Projenin Programlanması</h2>
            <p>Deneyimizin devresini tamamladığımıza göre artık programlamaya geçebiliriz.</p>
            <p>
                Öncelikle Kullanılacak kütüphaneleri, pinleri ve değişkenleri global olarak tanımlıyoruz, daha sonra ekran haberleşmesini başlatıyoruz. Devremize bağladığımız ledlerimizi OUTPUT olarak tanımlıyoruz.
                Serial.begin(9600) ile seri port haberleşmesini başlatıyoruz.

            </p>
            <p>
                "LdrDegerYaz" adında ortamdaki ışık miktarını LCD ekranda yazdıracak geri dönüşsüz ve parametresiz olan bir fonksiyon tanımlıyoruz daha sonra "EkrandaYaz" adında potansiyometre ile kullanıcının ayarlamış olduğu eşik değeri ekranda yazdıracak olan fonksiyonu tanımlıyoruz.

            </p>
            <p>
                Önce input komponentlerimizin(LDR,Pot,Switch(anahtar),Buton) değerlerini okuyoruz.
            </p>
            <p>
                Anahtar açık ise potansiyometreden okunan değeri yazmak için "EkrandaYaz" fonksiyonunu çağırıyoruz ve anahtar açıkken butona basılı ise ise potansiyometreden okunan değeri eşik değer olarak atıyoruz. Anahtar kapalıysa LDR nin okuduğu değer ile potansiyometreden okunan değeri karşılaştırıyoruz, eğer LDR den okunan sayısal değer daha büyükse
                ledleri söndürüyoruz.

            </p>
            <iframe src=https://create.arduino.cc/editor/red-kit/2c18a7fa-6f8c-41fd-8d32-c459ba4a6773/preview style="height:510px;width:100%;margin:10px 0" frameborder=0></iframe>
            <p style="color:green">Yukarıdaki kod pencerisinin sağ üst köşesindeki aşağı doğru ok simgesine tıklayan proje dosyasını bilgisayarınıza indirebilirsiniz. </p>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("redkitC");
}