
@{
    ViewBag.Title = "ButonFive";
    Layout = "~/Views/LayoutPage.cshtml";
}

<div class="bgimg" style="background-image: url('../assets/images/bg_03.jpg');" data-stellar-background-ratio="0.5">

    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
                <h2 class="">red-kit ile Arduino Programlamaya Giriş #2</h2>
                <p class="lead mx-auto desc mb-5">Bu derste Seri Port ekranını, değişkenleri, Buton kullanımını ve If – Else yapısını öğreneceğiz.</p>
            </div>
        </div>
    </div>

</div>

<div class="site-section">
    <div class="container">
        <div class="mb-5">
            <h1>Deney 05: red-kit ile İki Buton ile Led Yakıp Söndürme</h1>
            
            <p>Bu deneyde red-kit kullanarak iki buton ile led yakma işlemini gerçekleştireceğiz. Bir buton led yakma işlemini gerçekleştirirken ikinci buton led söndürme işlemini gerçekleştirecektir.</p>
            <p>
                <ul class="list-group bmd-list-group-sm">
                    <li class="list-group-item" style="color: red;">Kullanılacak Komponentler</li>
                    <li href="#" class="list-group-item">1 x red-kit</li>
                    <li href="#" class="list-group-item">1 x usb kablosu</li>
                    <li href="#" class="list-group-item">3 x erkek - erkek jumper kablo</li>
                </ul>
            </p>
        </div>
        <h2 class="mb-3">Devre Şeması</h2>
        <p>
            Erkek-erkek uçlu bir jumper kablonun bir ucunu red-kit üzerindeki Buton pinlerinden istediğimiz pine, diğer ucunu arduino üzerindeki dijital pinlerden kontrol etmek istediğimiz pine takıyoruz ve bunu diğer buton için de uyguluyoruz.Aynı işlemi bir led bağlamak için de gerçekleştiriyoruz.
        </p>
        <p>Not: Aşağıdaki örnekte 6,7 ve 8 numaralı dijital pinler kullanılmıştır. Hangi pine taktıysanız kodunuzu buna göre yazmanız gerekecektir.</p>
        <div class="row container">
            <div class="col-md-8">
                <img src="../assets/images/schematic_diagrams/2.3.Buton İle Led Yakma Söndürme.png">
            </div>
            <div class="col-md-4" style="padding-top: 5%;">
                <ul class="ul-check list-unstyled success">
                    <li>red-kit üzerindeki Buton pinlerinden birini, Arduino'nun 6 numaralı dijital pinine diğerini ise 7 numaralı dijital  pinine bağlıyoruz.</li>
                    <li>red-kit üzerindeki Led pinlerinden birini, Arduino'nun 8 numaralı dijital pinine bağlıyoruz.</li>
                </ul>
            </div>
        </div>
        <h2 class="mb-3">Programlama</h2>
        <p>Deneyimizin devresini tamamladığımıza göre artık programlamaya geçebiliriz. Yapmak istediğimiz şey arduino üzerindeki 6ve 7 numaralı pine elektrik yazmak.</p>
        <p>
            Öncelikle arduino üzerindeki hangi pinin, nasıl çalışacağını(INPUT/OUTPUT) söylememiz gerekir. Biz 6 ve 7 numaralı pinden dışarıya doğru bir enerji alımı sağlamak istediğimize göre bu pini giriş pini olarak tanımlamalıyız. Hatırlarsanız
            Buton'ların INPUT(giriş) komponenti olduğunu söylemiştik biz de devreye bir buton bağladığımız için 6 ve 7 numaralı pini INPUT olarak tanımlıyoruz. Aynı zamanda led'lerin OUTPUT(çıkış) komponenti olduğunu söylemiştik biz de devreye bir led bağladığımız için 8 numaralı pini OUTPUT olarak tanımlıyoruz.
        </p>
        <p>Arduino C programlama dilince tanımlamalar setup(kurulum) kısmında yazılır, ve bu kısım kod yüklendiğinde yalnızca bir kez çalışır.</p>
        <p>pinMode(pinNo,OUTPUT/INPUT) fonksiyonu beliritlen pin numarasını giriş ya da çıkış pini olarak ayarlar.</p>
        <p>digitalWrite(pinNo, HIGH/LOW) fonksiyonu belirtilen pin numarasına 0 ya da 1 sinyali gönderir. 1 elektrik var, 0 ise elektrik yok anlamına gelir.</p>
        <iframe src=https://create.arduino.cc/editor/red-kit/84fe376c-23e9-4c84-a05b-7946b9af7489/preview?embed style="height:510px;width:100%;margin:10px 0" frameborder=0></iframe>
        <p style="color:green">Yukarıdaki kod pencerisinin sağ üst köşesindeki aşağı doğru ok simgesine tıklayan deney dosyasını bilgisayarınıza indirebilirsiniz. </p>
        <div>
            <a href="/RedkitC/Buton" type="button" class="btn btn-danger">&laquo; Derse Dön</a>
        </div>
    </div>
</div>

