
@{
    ViewBag.Title = "BuzzerFour";
    Layout = "~/Views/LayoutPage.cshtml";
}
<div class="bgimg" style="background-image: url('../assets/images/bg_03.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
                <h2 class="">red-kit ile Arduino Programlamaya Giriş #9</h2>
                <p class="lead mx-auto desc mb-5">Bu derste arduino ile  Buzzer  kodlamayı öğreneceğiz.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="mb-5">
            <h1>Deney 4: İlk Melodimiz - Aydede</h1>
            <p style="color: green">
                Bu deneyi yapmak için öncelikle bilgisayarınızda Arduino IDE programlama ortamı ve sürücülerinin kurulu olması gerekir. Eğer henüz gerekli yazılımları indirip kurmadıysanız <a href=lesson01.html> buraya </a> tıklayarak dosyayı indirebilir
                ve kurulum adımlarını takip edebilirsiniz.
            </p>
            <p>Bu deneyde red-kit kullanarak Aydede Melodisini notalar yardımıyla buzzerımız ile çalıcaz.</p>
            <p>
                <ul class="list-group bmd-list-group-sm">
                    <li class="list-group-item" style="color: red;">Kullanılacak Komponentler</li>
                    <li href="#" class="list-group-item">1 x red-kit</li>
                    <li href="#" class="list-group-item">1 x usb kablosu</li>
                    <li href="#" class="list-group-item">1 x erkek - erkek jumper kablo</li>
                </ul>
            </p>
        </div>
        <h2 class="mb-3">Devre Şeması</h2>
        <p>
            Erkek-erkek uçlu bir jumper kablonun bir ucunu red-kit üzerindeki Buzzer pinlerinden istediğimiz pine, diğer ucunu arduino üzerindeki dijital pinlerden kontrol etmek istediğimiz pine takıyoruz.
        </p>
        <p>Not: Örnekte 7  numaralı dijital pinler kullanılmıştır. Hangi pine taktıysanız kodunuzu buna göre yazmanız gerekecektir.</p>
        <div class="row container">
            <div class="col-md-8">
                <img src="../assets/images/schematic_diagrams/3.1. Buzzer ile Bip sesi.png">
            </div>

            <ul class="ul-check list-unstyled success">
                <li>red-kit üzerindeki Buzzer pinlerinden birini, Arduino'nun 7 numaralı dijital pinine  bağlıyoruz.</li>

            </ul>

        </div>
        <h2 class="mb-3">Programlama</h2>

        <p>Deneyimizin devresini tamamladığımıza göre artık programlamaya geçebiliriz. Yapmak istediğimiz şey arduino üzerindeki  7 numaralı pine elektrik yazmak.</p>
        <p>
            Öncelikle arduino üzerindeki hangi pinin, nasıl çalışacağını(INPUT/OUTPUT) söylememiz gerekir.Hatırlarsanız
            Buzzer'ın OUTPUT(çıkış) komponenti olduğunu söylemiştik biz de devreye bir buzzer bağladığımız için 7 numaralı pini OUTPUT olarak tanımlıyoruz.
        </p>

        <p>
            Ay Dede şarkısının notalarına karşılık gelen frekans değerlerini değişkende tanımladık.
            Buzzer’ı sırası ile istenen notanın frekansı ile çağırdık.


        </p>
        <iframe src=https://create.arduino.cc/editor/red-kit/fa2bc402-7f4f-48b8-b402-9e5f9d9f9236/preview?embed style="height:510px;width:100%;margin:10px 0" frameborder=0></iframe>
        <p style="color:green">Yukarıdaki kod pencerisinin sağ üst köşesindeki aşağı doğru ok simgesine tıklayan deney dosyasını bilgisayarınıza indirebilirsiniz. </p>
        <div>
            <a href="/RedkitC/Buton" type="button" class="btn btn-danger">&laquo; Derse Dön</a>
        </div>
    </div>
</div>
